[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
pandas = "*"
nltk = "*"
gensim = "*"
numpy = "*"
psycopg2 = "*"
flask-script = "*"
tqdm = "*"

[requires]
python_version = "3.8"
