<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
</head>

<body>
  <%- include('partials/nav.ejs'); %>

  <div class="section container">
    <h3>SNOMED CONCEPT SIMILARITY</h3>
  </div>

  <div class="section container">
    <div class="row">
      <div class="col s12">
        <table class="highlight">
          <thead>
            <th>CID</th>
            <th>CONCEPT</th>
            <th>DESCRIPTION</th>
          </thead>

          <tbody>
            <tr>
              <td class="concept cid">0000</td>
              <td><a href="#" class="concept" id="concept">Cardial InJections Angular</a></td>
              <td class="concept desc">Cardial Infarction</td>
            </tr>
            <tr>
              <td class="cid">0000</td>
              <td><a href="#" class="concept" id="cardial2">Cardial InJections Angular</a></td>
              <td class="desc">Cardial Infarction</td>
            </tr>
            <tr>
              <td class="concept cid">0000</td>
              <td><a href="#" class="concept" id="concept3">Cardial InJections Angular</a></td>
              <td class="concept desc">Cardial Infarction</td>
            </tr>
            <tr>
              <td class="cid">0000</td>
              <td><a href="#" class="concept" id="cardial4">Cardial InJections Angular</a></td>
              <td class="desc">Cardial Infarction</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row card-row"></div>

  <!--JavaScript at end of body for optimized loading-->
  <script src="js/materialize.min.js"></script>
  <script src="js/card_detail.js"></script>

  <!-- <script src="../static/js/materialize.min.js"></script>
  <script src="../static/js/card_detail.js"></script> -->

</body>

</html>