@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'sass/materialize.scss';

$fam: 'Roboto', sans-serif;
$font-stack: 'Roboto';

$primary-color: #333;

body {
  font-family: $fam;
  font: 100% $font-stack;
  color: $primary-color;
  height: 100%;
}

.theme {
  @extend .blue, .darken-1;
  @extend .white-text;
}

.collection-item {
  @extend .black-text;
}

.active {
  @extend .theme;
}

div .card-button{
  margin-top: 40px;
  margin-bottom: 20px;
}

// .input-field input[type=search] {
//   @extend .white-text;
// }

// .input-field input[type=search]:focus + label {
//   @extend .black-text;
// }

.input-field textarea {
  @extend .white-text;
}
