@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'sass/materialize.scss';

$fam: 'Open Sans', sans-serif;
$font-stack: 'Open Sans';

$primary-color: #333;

body {
  font-family: $fam;
  font: 100% $font-stack;
  color: $primary-color;
  //   background: firebrick;
  height: 100%;
}

h4 {
  font-size: 18px;
}

.theme {
  @extend .blue, .darken-1;
  @extend .white-text;
}

.collection-item {
  @extend .black-text;
}

.active {
  @extend .theme;
}

div .card-button{
  margin-top: 40px;
  margin-bottom: 20px;
}

.input-field input[type=search] + label {
  @extend .green-text;
}

.input-field textarea[type=text] + label {
  @extend .white-text
}
