@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'sass/materialize.scss';

$fam: 'Roboto', sans-serif;
$font-stack: 'Roboto';

$primary-color: #333;

body {
  font-family: $fam;
  font: 100% $font-stack;
  color: $primary-color;
  height: 100%;
}

.theme {
  @extend .blue, .darken-1;
  @extend .white-text;
}

.collection-item {
  @extend .black-text;
}

a.active {
  @extend .theme;
}

span#page-section li.active {
  @extend .theme;
}

div .card-button{
  margin-bottom: 18px;
}

.input-field textarea {
  @extend .white-text;
}

div.attr-card {
  margin-top: 20px; 
}

span.attr {
  font-size: small;
}

div.modal-footer{
  display: inline-block;
}
